*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    border: 1px solid black;
    border-radius: 8px;
    padding: 12px;
}

.btn {
    height: 60px;
    width: 60px;
    margin: 12px;
    background-color: white;
    font-size: 2rem;
}

.number {
    border: 1px solid blue;
}

.operator {
    border: 1px solid lime;
}

.clear {

    background-color: lightcoral;
}

.decimal {
    border: 1px solid gold;
}

.display {
    height: 60px;
    width: 234px;
    margin: 12px;
    border: 1px solid purple;
    justify-content: flex-end;
    display: flex;
    font-size: 48px;
}

.first-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}