*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 70%;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 16px;
    border: 2px solid black;
    background-color: darkolivegreen;

    & :not(:first-child) {
        flex: 0 0 20%;
    }
}

button,
.display {
    background-color: grey;
    border: 2px solid darkgrey;
    color: white;
    font-weight: bold;
    font-size: 2em;
}


.add,
.subtract,
.multiply,
.divide {
    color: tomato;
}

.display {
    flex-basis: 100%;
    order: 0;
    direction: rtl;
}

.divide {
    order: 1;
}

.seven {
    order: 2;
}

.eight {
    order: 3;
}

.nine {
    order: 4;
}

.multiply {
    order: 5;
}

.four {
    order: 6;
}

.five {
    order: 7;
}

.six {
    order: 8;
}

.subtract {
    order: 9;
}

.one {
    order: 10;
}

.two {
    order: 11;
}

.three {
    order: 12;
}

.add {
    order: 13;
}

.zero {
    order: 14;
}

.dot {
    order: 15;
}

.backspace {
    order: 16;
}

.equal {
    order: 17;
    background-color: tomato;
}

.hidden {
    visibility: hidden;
}